{% extends 'base.html.twig' %}

{% block title %}Modifier Infraction - Brigade{% endblock %}

{% block body %}
<div class="container-fluid mt-4">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_brigade_dashboard') }}">
                            <i class="bi bi-speedometer2 me-2"></i>Tableau de bord
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_infraction_index') }}">
                            <i class="bi bi-exclamation-triangle me-2"></i>Infractions
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Modifier l'infraction</h1>
                <a href="{{ path('app_infraction_show', {'id': infraction.id}) }}" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-arrow-left"></i> Retour
                </a>
            </div>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="mt-3 d-flex gap-2">
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                        <a href="{{ path('app_infraction_show', {'id': infraction.id}) }}" class="btn btn-secondary">Annuler</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
